.toolbar {
    display: flex;
    justify-content: space-between;
}

.button-row {
    margin-top: 20px;
}

.preview-container {
    margin-left: -10px;
    max-width: 220px;
    max-height: 220px;
}
